<!DOCTYPE html>
<html>

    <head>
        <title>Queries test</title>
    </head>

    <body>
        <li><a href="/queries/1/">Display the 3 most recent discussions/comments from a specific discussion thread</a></li>
        <li><a href="/queries/2/"></a>Display the 3 most recent discussion/comments from all discussion threads</li>
        <li><a href="/queries/3/"></a>Display the least popular discussion thread in terms of visits and comments</li>
        <li><a href="/queries/5/"></a>Display the registered guest who has contributed most comments</li>
        <li><a href="/queries/6/"></a>Display the theatre(s) that are showing most number of movies</li>
        <li><a href="/queries/7/"></a>Display the theatre (s) that has the most online ticket sales</li>
        <li><a href="/queries/8/"></a>Display the list of all employees who are on duty on Monday on a specific theatre. Display also their jobs and time table</li>
    </body>
</html>